@{
    ViewData["Title"] = "Home Page";
}

    <h1>
        How to secure a Web API built with ASP.NET Core using the Microsoft identity platform (formerly Azure Active Directory for developers)
    </h1>
    <p>
        To Do Sample
    </p>
